<form
  [formGroup]="form"
  novalidate
  autocomplete="off"
  (submit)="onSubmit()"
  (keyup.enter)="onSubmit()"
>
  <div class="app-page__content">
    <my-projects-shared-ui-crt-controls-form-field
      label="Email"
      [required]="true"
      [control]="form.controls['email']"
      [isInline]="false"
      [patternError]="regexErrors.email"
    >
      <my-projects-shared-ui-crt-controls-input
        formControlName="email"
      ></my-projects-shared-ui-crt-controls-input>
    </my-projects-shared-ui-crt-controls-form-field>

    <my-projects-shared-ui-crt-controls-form-field
      label="Password"
      [required]="true"
      [control]="form.controls['password']"
      [isInline]="false"
      [patternError]="regexErrors.password"
    >
      <my-projects-shared-ui-crt-controls-input
        formControlName="password"
      ></my-projects-shared-ui-crt-controls-input>
    </my-projects-shared-ui-crt-controls-form-field>
  </div>

  <my-projects-shared-ui-crt-buttons-button type="submit"
    >Log in >></my-projects-shared-ui-crt-buttons-button
  >
</form>

<my-projects-nx-shared-ui-crt-indicators-spinner
  *ngIf="(loading$ | async)!"
></my-projects-nx-shared-ui-crt-indicators-spinner>
