<form
  *ngIf="settingsFormService.settingsForm as settingsForm"
  [formGroup]="settingsForm"
>
  <div class="app-page__content">
    <my-projects-shared-ui-crt-controls-form-field label="Answers language">
      <my-projects-shared-ui-crt-controls-radios
        [items]="languages"
        formControlName="language"
      />
    </my-projects-shared-ui-crt-controls-form-field>
    <br />
    <my-projects-shared-ui-crt-controls-form-field
      label="Interview Mode"
      [isInline]="false"
    >
      <my-projects-shared-ui-crt-controls-checkbox
        formControlName="interviewMode"
      />
    </my-projects-shared-ui-crt-controls-form-field>
    <br />
    <my-projects-shared-ui-crt-controls-form-field
      label="Animations Enabled"
      [isInline]="false"
    >
      <my-projects-shared-ui-crt-controls-checkbox
        formControlName="animationsEnabled"
      />
    </my-projects-shared-ui-crt-controls-form-field>
  </div>
</form>
