<my-projects-shared-ui-crt-controls-form-field label="Search">
  <my-projects-shared-ui-crt-controls-input
    [(ngModel)]="searchPhrase"
    (changed)="doSearchWithPhrase.next($event.toString())"
  ></my-projects-shared-ui-crt-controls-input>
</my-projects-shared-ui-crt-controls-form-field>
<ng-container *ngIf="tableService.displayResults$ | async as results">
  <my-projects-paginator
    [length]="tableService.tableLength"
    [pageIndex]="tableService.pageParameters!.index"
    [pageSize]="tableService.pageParameters!.size"
    (page)="onPageChange($event)"
  ></my-projects-paginator>
  <my-projects-generic-table-material
    class="questions-table"
    [data]="results"
    [columns]="tableService.columns"
    [sortDefinition]="tableService.sortDefinition"
    [cellTextWrap]="(settingsService.interviewMode$ | async)!"
    (sort)="onSort($event)"
    (rowClick)="onRowClick($event)"
  ></my-projects-generic-table-material>
</ng-container>
